<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web</display-name>
  <servlet>
  	<servlet-name>CtrlLogin</servlet-name>
  	<servlet-class>controladores.CtrlLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CtrlLogin</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <display-name>Web</display-name>
  <servlet>
  	<servlet-name>CtrlCarga</servlet-name>
  	<servlet-class>controladores.CtrlCarga</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CtrlCarga</servlet-name>
  	<url-pattern>/Carga</url-pattern>
  </servlet-mapping>
  
  <display-name>Web</display-name>
  <servlet>
  	<servlet-name>CtrlTren</servlet-name>
  	<servlet-class>controladores.CtrlTren</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CtrlTren</servlet-name>
  	<url-pattern>/Tren</url-pattern>
  </servlet-mapping>
  
  <display-name>Web</display-name>
  <servlet>
  	<servlet-name>CtrlSubte</servlet-name>
  	<servlet-class>controladores.CtrlSubte</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CtrlSubte</servlet-name>
  	<url-pattern>/Subte</url-pattern>
  </servlet-mapping>
  
  <display-name>Web</display-name>
  <servlet>
  	<servlet-name>CtrlColectivo</servlet-name>
  	<servlet-class>controladores.CtrlColectivo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CtrlColectivo</servlet-name>
  	<url-pattern>/Colectivo</url-pattern>
  </servlet-mapping>
  
  <display-name>Web</display-name>
  <servlet>
  	<servlet-name>CtrlRegistro</servlet-name>
  	<servlet-class>controladores.CtrlRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CtrlRegistro</servlet-name>
  	<url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  
</web-app>